.pet-projects {
	display: grid;
	justify-content: center;
	padding-block: var(--padding-most-common);

	@include mobile {
		padding-block: calc(var(--padding-most-common) * 0.5)
	}

	h4 {
		font-family: var(--font-family-body);
		display: flex;
		justify-content: center;
		margin-bottom: calc(var(--margin-lg) + 5px);
		font-size: var(--text-sm);

		@include desktop {
			margin-bottom: calc(var(--margin-lg) + 5px);
		}

		@include mobile {
			margin-bottom: calc(var(--margin-sm) + 5px);
			font-size: calc(var(--text-sm) - 2px);
		}
	}

	.project-card {
		display: flex;
		align-items: center;
		max-width: calc(var(--size-md) + 100px);
		border-radius: calc(var(--border-radius-lg) + 5px);
		padding: calc(var(--padding-most-common) * 2);
		margin-block: calc(var(--margin-sm) + 5px);

		@include desktop {
			max-width: calc(var(--size-md) - 180px);
			padding-block: var(--padding-most-common);
			margin-block: var(--margin-sm);
		}

		@include tablet {
			max-width: calc(var(--size-md) - 360px);
			padding-block: var(--padding-sm);
			margin-block: var(--margin-sm);
		}

		@include mobile {
			border-radius: calc(var(--border-radius-lg) - 5px);
			max-width: calc(var(--size-sm) + 160px);
			display: block;
			text-align: center;
		}

		@include mobile-small {
			max-width: calc(var(--size-sm) + 50px);
			padding-inline: var(--padding-most-common);
		}

		.image-cover {
			width: 50%;
			padding: var(--padding-most-common);

			@include desktop {
				padding: calc(var(--padding-most-common) / 2);
			}

			@include tablet {
				padding: 0;
			}

			@include mobile {
				width: var(--width-full);
				padding: var(--padding-sm);
			}
			
			@include mobile-small {
				display: flex;
				justify-content: center;
			}

			.project-example {
				width: var(--width-full);
				height: var(--size-sm);
				object-fit: cover;
				border-radius: var(--border-radius-lg);

				@include desktop {
					height: calc(var(--size-sm) - 70px);
					border-radius: calc(var(--border-radius-lg) - 10px);
				}

				@include tablet {
					height: calc(var(--size-sm) - 110px);
				}

				@include mobile {
					height: calc(var(--size-sm) - 100px);
				}

				@include mobile-small {
					height: calc(var(--size-sm) - 160px);
					border-radius: calc(var(--border-radius-sm) + 10px);
				}
			}
		}
			
		.project-description {
			width: calc(var(--width-full) * 0.5);
			margin: var(--margin-md);
			padding: var(--padding-most-common);

			@include desktop {
				margin: calc(var(--margin-md) - 5px);
				padding: var(--padding-sm);
			}

			@include tablet {
				margin-inline: calc(var(--padding-lg) * 0.5);
			}

			@include mobile {
				width: var(--width-full);
				margin: 0;
			}
			
			.project-name {
				font-family: var(--font-family-header);
				font-size: var(--text-lg);
				font-weight: var(--heavy-text);
				line-height: var(--line-height-lg);

				@include desktop {
					font-size: calc(var(--text-lg) - 2px);
				}

				@include tablet {
					font-size: calc(var(--text-lg) - 6px);
					line-height: calc(var(--line-height-lg) - 5px);
				}

				@include mobile {
					font-size: calc(var(--text-lg) - 15px);
					line-height: var(--line-height-sm);
				}
			}
			
			.add-project-info {
				font-family: var(--font-family-body);
				font-size: var(--text-sm);
				margin-block: calc(var(--margin-md) + 5px);
				line-height: var(--line-height-sm);

				@include desktop {
					margin-block: var(--margin-md);
				}

				@include tablet {
					font-size: calc(var(--text-sm) - 2px);
					margin-block: calc(var(--margin-md) - 5px);
				}

				@include mobile {
					font-size: calc(var(--text-sm) - 4px);
					line-height: calc(var(--line-height-sm) - 5px);
					margin-block: var(--margin-sm);
				}
			}

			.used-technologies {
				padding-block: calc(var(--padding-sm) * (1 /3));

				&__list {
					display: flex;

					@include mobile {
						justify-content: center;
					}

					&__wrapper {
						padding: var(--padding-sm);
						border-radius: var(--border-radius-img);
						margin-right: calc(var(--margin-sm) + 5px);
						box-shadow: var(--shadow-icons);

						@include desktop {
							padding: calc(var(--padding-sm) - 2px);
						}
					}

					.hidden-one {
						@include tablet {
							display: none;
							box-shadow: none;
						}
					}

					#specialDesktop {
						@include desktop {
							display: none;
							box-shadow: none;
						}
					}
				}
			}

			.hidden-mobile-small {
				@include mobile-small {
					display: none;
					box-shadow: none;
				}
			}
		}
	}

}