@font-face {
	font-family: 'Sen';
	src:
		url(../../../fonts/Sen-SemiBold.woff2) format('woff2'),
		url(../../../fonts/Sen-SemiBold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src:
		url(../../../fonts/Quicksand-Regular.woff2) format('woff2'),
		url(../../../fonts/Quicksand-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Propisi';
	src:
		url(../../../fonts/Propisi\ Cyr\ Lat_2.woff2) format('woff2'),
		url(../../../fonts/Propisi\ Cyr\ Lat_2.ttf) format('truetype');
	font-style: normal;
	font-display: swap;
}