:root {
	--text-lg: 35px;
	--text-sm: 18px;

	--font-family-header: 'Sen', sans-serif;
	--font-family-body: 'Quicksand', sans-serif;
	--font-family-highlight: 'Propisi', sans-serif;

	--heavy-text: 600;
	--regular-lext: 400;
	--light-lext: 300;

	--line-height-lg: 40px;
	--line-height-sm: 25px;


	--border-radius-lg: 50px;
	--border-radius-sm: 15px;
	--border-radius-img: 50%;

	--margin-lg: 30px;
	--margin-md: 20px;
	--margin-sm: 10px;

	--padding-lg: 45px;
	--padding-sm: 15px;
	--padding-most-common: 20px;
	--padding-combined-lg: 50px 60px;
	--padding-combined-md: 30px 40px;
	--padding-combined-sm: 10px 22px;

	--shadow-icons: -3px -3px 6px rgba(255, 255, 255, 0.06), 8px 8px 15px rgba(3, 3, 2, 0.5);

	--size-lg: 1480px;
	--size-md: 1100px;
	--size-sm: 300px;

	--width-full: 100%;

	--marquee-item-width-height-xl: 60px;
	--marquee-item-width-height-lg: 50px;
	--marquee-item-width-height-md: 35px;
	--marquee-item-width-height-sm: 33px;
	--marquee-duration: 50s;
	--marquee-items: 8;
}