:root {
  --text-lg: 35px;
  --text-sm: 18px;
  --font-family-header: "Sen", sans-serif;
  --font-family-body: "Quicksand", sans-serif;
  --font-family-highlight: "Propisi", sans-serif;
  --heavy-text: 600;
  --regular-lext: 400;
  --light-lext: 300;
  --line-height-lg: 40px;
  --line-height-sm: 25px;
  --border-radius-lg: 50px;
  --border-radius-sm: 15px;
  --border-radius-img: 50%;
  --margin-lg: 30px;
  --margin-md: 20px;
  --margin-sm: 10px;
  --padding-lg: 45px;
  --padding-sm: 15px;
  --padding-most-common: 20px;
  --padding-combined-lg: 50px 60px;
  --padding-combined-md: 30px 40px;
  --padding-combined-sm: 10px 22px;
  --shadow-icons: -3px -3px 6px rgba(255, 255, 255, 0.06), 8px 8px 15px rgba(3, 3, 2, 0.5);
  --size-lg: 1480px;
  --size-md: 1100px;
  --size-sm: 300px;
  --width-full: 100%;
  --marquee-item-width-height-xl: 60px;
  --marquee-item-width-height-lg: 50px;
  --marquee-item-width-height-md: 40px;
  --marquee-item-width-height-sm: 35px;
  --marquee-duration: 50s;
  --marquee-items: 7;
}

@font-face {
  font-family: "Sen";
  src: url("fonts/Sen-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Propisi";
  src: url("fonts/Propisi Cyr Lat_2.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
.container {
  display: inline;
  justify-content: center;
  max-width: var(--size-lg);
}
.container .introduction {
  margin: 50px auto;
  display: flex;
  max-width: var(--size-md);
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .container .introduction {
    display: grid;
    place-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .container .introduction {
    display: grid;
    place-items: center;
    justify-content: center;
    max-width: calc(var(--size-md) - 430px);
    margin: 30px auto;
  }
}
@media (max-width: 768px) {
  .container .introduction {
    max-width: calc(var(--size-sm) + 160px);
    margin: 20px auto;
  }
}
@media (max-width: 480px) {
  .container .introduction {
    max-width: calc(var(--size-sm) + 50px);
    margin: 10px auto;
  }
}
.container .introduction .card {
  border-radius: calc(var(--border-radius-lg) + 5px);
}
@media (max-width: 1280px) {
  .container .introduction .card {
    width: var(--width-full);
  }
}
@media (max-width: 768px) {
  .container .introduction .card {
    border-radius: calc(var(--border-radius-lg) - 5px);
  }
}
.container .introduction .welcome-info {
  max-width: calc((var(--size-lg) + 20px) / 2);
  padding: var(--padding-combined-lg);
}
@media (max-width: 768px) {
  .container .introduction .welcome-info {
    padding: var(--padding-combined-md);
  }
}
.container .introduction .welcome-info__socials {
  font-family: var(--font-family-body);
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__socials {
    margin-bottom: calc(var(--margin-sm) - 5px);
  }
}
.container .introduction .welcome-info__socials .github-contact {
  margin-right: calc(var(--margin-sm) - 3px);
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__socials .github-contact {
    width: calc(var(--size-sm) / 10 - 6px);
  }
}
.container .introduction .welcome-info__socials .connection {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-icons);
  font-size: calc(var(--text-sm) - 2px);
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__socials .connection {
    font-size: calc(var(--text-sm) - 2px);
    padding: 10px 14px;
  }
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__socials .connection {
    font-size: calc(var(--text-sm) - 4px);
    padding: 8px 14px;
  }
}
.container .introduction .welcome-info__socials .telegram-contact {
  margin-inline: var(--margin-sm);
}
.container .introduction .welcome-info__socials .social-link {
  border-radius: var(--border-radius-sm);
  padding: calc(var(--padding-most-common) * 0.5);
  box-shadow: var(--shadow-icons);
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__socials .social-link {
    width: calc(var(--size-sm) / 6 - 5px);
  }
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__socials .social-link {
    width: calc(var(--size-sm) / 6 - 7.5px);
  }
}
.container .introduction .welcome-info__main-text {
  font-family: var(--font-family-header);
  margin-block: calc(var(--margin-md) + 3px);
  font-size: calc(var(--text-lg) - 3px);
  font-weight: var(--heavy-text);
  line-height: var(--line-height-lg);
}
@media (max-width: 1280px) {
  .container .introduction .welcome-info__main-text {
    font-size: calc(var(--text-lg) - 3px);
  }
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__main-text {
    font-size: calc(var(--text-lg) - 5px);
    margin-block: calc(var(--margin-md) - 2px);
    line-height: calc(var(--line-height-lg) - 2px);
  }
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__main-text {
    font-size: calc(var(--text-lg) - 15px);
    margin-block: calc(var(--margin-sm) + 5px);
    line-height: calc(var(--line-height-sm) + 2px);
  }
}
@media (max-width: 480px) {
  .container .introduction .welcome-info__main-text {
    margin-block: calc(var(--margin-sm) + 3px);
  }
}
.container .introduction .welcome-info__main-text__highlighting {
  font-family: var(--font-family-highlight);
  font-size: calc(var(--text-lg) + 15px);
}
@media (max-width: 1280px) {
  .container .introduction .welcome-info__main-text__highlighting {
    line-height: var(--line-height-sm);
  }
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__main-text__highlighting {
    font-size: calc(var(--text-lg) + 12px);
  }
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__main-text__highlighting {
    font-size: calc(var(--text-lg) - 4px);
    line-height: calc(var(--line-height-sm) - 10px);
  }
}
.container .introduction .welcome-info__additional-text {
  font-family: var(--font-family-body);
  font-size: var(--text-sm);
  line-height: calc(var(--line-height-sm) + 3px);
}
@media (max-width: 1024px) {
  .container .introduction .welcome-info__additional-text {
    font-size: calc(var(--text-sm) - 2px);
    line-height: var(--line-height-sm);
  }
}
@media (max-width: 768px) {
  .container .introduction .welcome-info__additional-text {
    font-size: calc(var(--text-sm) - 4px);
    line-height: calc(var(--line-height-sm) - 4px);
  }
}
.container .introduction .avatar {
  display: flex;
  min-width: calc(var(--size-sm) + var(--size-sm) / 10);
}
@media (max-width: 1280px) {
  .container .introduction .avatar {
    display: block;
    margin-top: var(--margin-md);
    max-width: var(--size-md);
  }
}
@media (max-width: 1024px) {
  .container .introduction .avatar {
    max-width: calc(var(--size-md) - 400px);
    margin-bottom: calc(var(--margin-sm) - 2px);
  }
}
@media (max-width: 768px) {
  .container .introduction .avatar {
    margin-top: calc(var(--margin-sm) + 5px);
  }
}
.container .introduction .avatar__image {
  margin: auto;
  width: calc(var(--size-sm) - 30px);
}
@media (max-width: 1024px) {
  .container .introduction .avatar__image {
    width: calc(var(--size-sm) - 60px);
  }
}
@media (max-width: 768px) {
  .container .introduction .avatar__image {
    width: calc(var(--size-sm) - 112px);
  }
}
@media (max-width: 480px) {
  .container .introduction .avatar__image {
    width: calc(var(--size-sm) - 50px);
  }
}

.technology-stack {
  display: inline;
  text-align: center;
  font-family: var(--font-family-body);
  max-width: var(--size-md);
}
.technology-stack h4 {
  margin-bottom: var(--margin-md);
  font-size: var(--text-sm);
}
@media (max-width: 768px) {
  .technology-stack h4 {
    margin-bottom: var(--margin-sm);
    font-size: calc(var(--text-sm) - 2px);
  }
}
.technology-stack__scrolling-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(var(--size-md) - 200px);
  margin: 0 auto;
  height: calc(var(--size-sm) / 3 - 10px);
  overflow-x: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, rgba(9, 9, 9, 0), rgb(9, 9, 9) 20%, rgb(9, 9, 9) 80%, rgba(9, 9, 9, 0));
          mask-image: linear-gradient(to right, rgba(9, 9, 9, 0), rgb(9, 9, 9) 20%, rgb(9, 9, 9) 80%, rgba(9, 9, 9, 0));
}
@media (max-width: 1280px) {
  .technology-stack__scrolling-wrapper {
    max-width: calc(var(--size-md) - 500px);
  }
}
@media (max-width: 1024px) {
  .technology-stack__scrolling-wrapper {
    max-width: calc(var(--size-md) - 550px);
  }
}
@media (max-width: 768px) {
  .technology-stack__scrolling-wrapper {
    max-width: calc(var(--size-sm) + 50px);
    height: calc(var(--size-sm) / 3 - 30px);
  }
}
@media (max-width: 480px) {
  .technology-stack__scrolling-wrapper {
    max-width: calc(var(--size-sm) - 20px);
  }
}
.technology-stack .marquee__item {
  --marquee-item-offset: max(calc(var(--marquee-item-width-height-xl) * var(--marquee-items)), calc(100% + var(--marquee-item-width-height-xl)));
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-20%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
  width: calc(var(--marquee-item-width-height-xl) + 10px);
  height: calc(var(--marquee-item-width-height-xl) + 10px);
}
@media (max-width: 1280px) {
  .technology-stack .marquee__item {
    --marquee-item-offset: max(calc(var(--marquee-item-width-height-lg) * var(--marquee-items)), calc(100% + var(--marquee-item-width-height-lg)));
  }
}
@media (max-width: 1024px) {
  .technology-stack .marquee__item {
    --marquee-item-offset: max(calc(var(--marquee-item-width-height-md) * var(--marquee-items)), calc(100% + var(--marquee-item-width-height-md)));
  }
}
@media (max-width: 768px) {
  .technology-stack .marquee__item {
    --marquee-item-offset: max(calc(var(--marquee-item-width-height-md) * var(--marquee-items)), calc(100% + var(--marquee-item-width-height-md)));
  }
}
@media (max-width: 480px) {
  .technology-stack .marquee__item {
    --marquee-item-offset: max(calc(var(--marquee-item-width-height-sm) * var(--marquee-items)), calc(100% + var(--marquee-item-width-height-sm)));
  }
}
@media (max-width: 1280px) {
  .technology-stack .marquee__item {
    width: var(--marquee-item-width-height-xl);
    height: var(--marquee-item-width-height-xl);
  }
}
@media (max-width: 1024px) {
  .technology-stack .marquee__item {
    width: var(--marquee-item-width-height-lg);
    height: var(--marquee-item-width-height-lg);
  }
}
@media (max-width: 768px) {
  .technology-stack .marquee__item {
    width: var(--marquee-item-width-height-md);
    height: var(--marquee-item-width-height-md);
  }
}
@media (max-width: 480px) {
  .technology-stack .marquee__item {
    width: var(--marquee-item-width-height-sm);
    height: var(--marquee-item-width-height-sm);
  }
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(6) {
  --marquee-item-index: 6;
}
.technology-stack .marquee--7 .marquee__item:nth-of-type(7) {
  --marquee-item-index: 7;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width-height-md) * -1);
  }
}
.pet-projects {
  display: grid;
  justify-content: center;
  padding-block: var(--padding-most-common);
}
@media (max-width: 768px) {
  .pet-projects {
    padding-block: calc(var(--padding-most-common) * 0.5);
  }
}
.pet-projects h4 {
  font-family: var(--font-family-body);
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--margin-lg) + 5px);
  font-size: var(--text-sm);
}
@media (max-width: 1280px) {
  .pet-projects h4 {
    margin-bottom: calc(var(--margin-lg) + 5px);
  }
}
@media (max-width: 768px) {
  .pet-projects h4 {
    margin-bottom: calc(var(--margin-sm) + 5px);
    font-size: calc(var(--text-sm) - 2px);
  }
}
.pet-projects .project-card {
  display: flex;
  align-items: center;
  max-width: calc(var(--size-md) + 100px);
  border-radius: calc(var(--border-radius-lg) + 5px);
  padding: calc(var(--padding-most-common) * 2);
  margin-block: calc(var(--margin-sm) + 5px);
}
@media (max-width: 1280px) {
  .pet-projects .project-card {
    max-width: calc(var(--size-md) - 180px);
    padding-block: var(--padding-most-common);
    margin-block: var(--margin-sm);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card {
    max-width: calc(var(--size-md) - 360px);
    padding-block: var(--padding-sm);
    margin-block: var(--margin-sm);
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card {
    border-radius: calc(var(--border-radius-lg) - 5px);
    max-width: calc(var(--size-sm) + 160px);
    display: block;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .pet-projects .project-card {
    max-width: calc(var(--size-sm) + 50px);
    padding-inline: var(--padding-most-common);
  }
}
.pet-projects .project-card .image-cover {
  width: 50%;
  padding: var(--padding-most-common);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .image-cover {
    padding: calc(var(--padding-most-common) / 2);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .image-cover {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card .image-cover {
    width: var(--width-full);
    padding: var(--padding-sm);
  }
}
@media (max-width: 480px) {
  .pet-projects .project-card .image-cover {
    display: flex;
    justify-content: center;
  }
}
.pet-projects .project-card .image-cover .project-example {
  width: var(--width-full);
  height: var(--size-sm);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-lg);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .image-cover .project-example {
    height: calc(var(--size-sm) - 70px);
    border-radius: calc(var(--border-radius-lg) - 10px);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .image-cover .project-example {
    height: calc(var(--size-sm) - 110px);
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card .image-cover .project-example {
    height: calc(var(--size-sm) - 100px);
  }
}
@media (max-width: 480px) {
  .pet-projects .project-card .image-cover .project-example {
    height: calc(var(--size-sm) - 160px);
    border-radius: calc(var(--border-radius-sm) + 10px);
  }
}
.pet-projects .project-card .project-description {
  width: calc(var(--width-full) * 0.5);
  margin: var(--margin-md);
  padding: var(--padding-most-common);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .project-description {
    margin: calc(var(--margin-md) - 5px);
    padding: var(--padding-sm);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .project-description {
    margin-inline: calc(var(--padding-lg) * 0.5);
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card .project-description {
    width: var(--width-full);
    margin: 0;
  }
}
.pet-projects .project-card .project-description .project-name {
  font-family: var(--font-family-header);
  font-size: var(--text-lg);
  font-weight: var(--heavy-text);
  line-height: var(--line-height-lg);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .project-description .project-name {
    font-size: calc(var(--text-lg) - 2px);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .project-description .project-name {
    font-size: calc(var(--text-lg) - 6px);
    line-height: calc(var(--line-height-lg) - 5px);
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card .project-description .project-name {
    font-size: calc(var(--text-lg) - 15px);
    line-height: var(--line-height-sm);
  }
}
.pet-projects .project-card .project-description .add-project-info {
  font-family: var(--font-family-body);
  font-size: var(--text-sm);
  margin-block: calc(var(--margin-md) + 5px);
  line-height: var(--line-height-sm);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .project-description .add-project-info {
    margin-block: var(--margin-md);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .project-description .add-project-info {
    font-size: calc(var(--text-sm) - 2px);
    margin-block: calc(var(--margin-md) - 5px);
  }
}
@media (max-width: 768px) {
  .pet-projects .project-card .project-description .add-project-info {
    font-size: calc(var(--text-sm) - 4px);
    line-height: calc(var(--line-height-sm) - 5px);
    margin-block: var(--margin-sm);
  }
}
.pet-projects .project-card .project-description .used-technologies {
  padding-block: calc(var(--padding-sm) * 0.3333333333);
}
.pet-projects .project-card .project-description .used-technologies__list {
  display: flex;
}
@media (max-width: 768px) {
  .pet-projects .project-card .project-description .used-technologies__list {
    justify-content: center;
  }
}
.pet-projects .project-card .project-description .used-technologies__list__wrapper {
  padding: var(--padding-sm);
  border-radius: var(--border-radius-img);
  margin-right: calc(var(--margin-sm) + 5px);
  box-shadow: var(--shadow-icons);
}
@media (max-width: 1280px) {
  .pet-projects .project-card .project-description .used-technologies__list__wrapper {
    padding: calc(var(--padding-sm) - 2px);
  }
}
@media (max-width: 1024px) {
  .pet-projects .project-card .project-description .used-technologies__list .hidden-one {
    display: none;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  .pet-projects .project-card .project-description .hidden-mobile-small {
    display: none;
    box-shadow: none;
  }
}

.services {
  display: grid;
  justify-items: center;
  margin: var(--margin-md);
}
@media (max-width: 1024px) {
  .services {
    margin: calc(var(--margin-md) - 5px);
  }
}
@media (max-width: 768px) {
  .services {
    margin: var(--margin-sm);
  }
}
.services .intrest-form-content {
  border-radius: calc(var(--border-radius-lg) + 5px);
  padding: var(--padding-combined-lg);
  max-width: var(--size-md);
}
@media (max-width: 1280px) {
  .services .intrest-form-content {
    max-width: calc(var(--size-md) - 355px);
  }
}
@media (max-width: 1024px) {
  .services .intrest-form-content {
    max-width: calc(var(--size-md) - 430px);
  }
}
@media (max-width: 768px) {
  .services .intrest-form-content {
    max-width: calc(var(--size-sm) + 160px);
    padding: var(--padding-combined-md);
  }
}
@media (max-width: 480px) {
  .services .intrest-form-content {
    max-width: calc(var(--size-sm) + 50px);
  }
}
.services .intrest-form-content__highlighting {
  font-family: var(--font-family-highlight);
  font-size: calc(var(--text-lg) + 15px);
}
@media (max-width: 1280px) {
  .services .intrest-form-content__highlighting {
    line-height: var(--line-height-sm);
  }
}
@media (max-width: 1024px) {
  .services .intrest-form-content__highlighting {
    font-size: calc(var(--text-lg) + 10px);
  }
}
@media (max-width: 768px) {
  .services .intrest-form-content__highlighting {
    font-size: calc(var(--text-lg) - 5px);
    line-height: calc(var(--line-height-sm) - 10px);
  }
}
.services .intrest-form-content h1 {
  font-family: var(--font-family-header);
  font-weight: var(--heavy-text);
  margin-bottom: var(--margin-lg);
  font-size: var(--text-lg);
  font-weight: var(--heavy-text);
  line-height: var(--line-height-lg);
}
@media (max-width: 1280px) {
  .services .intrest-form-content h1 {
    font-size: calc(var(--text-lg) - 2px);
  }
}
@media (max-width: 1024px) {
  .services .intrest-form-content h1 {
    font-size: calc(var(--text-lg) - 5px);
    margin-bottom: var(--margin-md);
  }
}
@media (max-width: 768px) {
  .services .intrest-form-content h1 {
    text-align: center;
    font-size: calc(var(--text-lg) - 15px);
    margin-bottom: calc(var(--margin-sm) + 5px);
    line-height: calc(var(--line-height-lg) - 10px);
  }
}
.services .intrest-form-content .proposed-services {
  display: flex;
  justify-content: space-between;
}
.services .intrest-form-content .proposed-services .first-service {
  padding-right: calc(var(--padding-sm) - 5px);
}
.services .intrest-form-content .proposed-services #frontend {
  padding-left: var(--padding-sm);
}
.services .intrest-form-content .proposed-services .first-service h5,
.services .intrest-form-content .proposed-services .second-service h5 {
  font-family: var(--font-family-body);
  font-weight: var(--regular-lext);
  font-size: var(--text-sm);
  margin-bottom: var(--margin-sm);
}
@media (max-width: 1024px) {
  .services .intrest-form-content .proposed-services .first-service h5,
  .services .intrest-form-content .proposed-services .second-service h5 {
    margin-bottom: calc(var(--margin-sm) + 2px);
    font-size: calc(var(--text-sm) - 2px);
  }
}
.services .intrest-form-content .proposed-services .first-service p,
.services .intrest-form-content .proposed-services .second-service p {
  font-family: var(--font-family-body);
  font-weight: var(--light-lext);
  font-size: var(--text-sm);
}
@media (max-width: 1024px) {
  .services .intrest-form-content .proposed-services .first-service p,
  .services .intrest-form-content .proposed-services .second-service p {
    font-size: calc(var(--text-sm) - 2px);
  }
}
@media (max-width: 768px) {
  .services .intrest-form-content .proposed-services .first-service p,
  .services .intrest-form-content .proposed-services .second-service p {
    font-size: calc(var(--text-sm) - 4px);
  }
}
.services .intrest-form-content .connection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-body);
  font-size: var(--text-sm);
  padding: var(--padding-sm);
  width: var(--width-full);
  border-radius: calc(var(--border-radius-sm) + 3px);
  margin-top: calc(var(--margin-lg) + 10px);
  box-shadow: var(--shadow-icons);
}
@media (max-width: 1024px) {
  .services .intrest-form-content .connection {
    font-size: var(--text-sm);
  }
}
@media (max-width: 768px) {
  .services .intrest-form-content .connection {
    padding: calc(var(--padding-sm) - 3px);
    margin-top: calc(var(--margin-lg) - 10px);
    font-size: calc(var(--text-sm) - 4px);
  }
}
.services .intrest-form-content__register {
  display: flex;
}
.services .intrest-form-content__register .arrow {
  padding-inline: calc(var(--padding-sm) * 0.3333333333);
}
@media (max-width: 768px) {
  .services .intrest-form-content__register .arrow {
    width: calc(var(--size-sm) / 10);
  }
}
@media (max-width: 480px) {
  .services .intrest-form-content__register .arrow {
    width: calc(var(--size-sm) / 10 - 4px);
    padding-inline: calc(var(--padding-sm) * 0.3333333333 - 2px);
  }
}

.footer {
  display: inline-flexbox;
  text-align: center;
  margin-block: var(--margin-md);
}
@media (max-width: 1280px) {
  .footer {
    margin-block: var(--margin-lg);
  }
}
@media (max-width: 1024px) {
  .footer {
    margin-block: var(--margin-md);
  }
}
.footer .stay-connected {
  padding: var(--padding-most-common);
}
@media (max-width: 768px) {
  .footer .stay-connected {
    padding: calc(var(--padding-most-common) * 0.5);
  }
}
.footer .stay-connected__highlighting {
  font-family: var(--font-family-highlight);
  font-size: calc(var(--text-lg) + 15px);
}
@media (max-width: 1280px) {
  .footer .stay-connected__highlighting {
    line-height: var(--line-height-sm);
    font-size: calc(var(--text-lg) + 12px);
  }
}
@media (max-width: 1024px) {
  .footer .stay-connected__highlighting {
    font-size: calc(var(--text-lg) + 10px);
  }
}
@media (max-width: 768px) {
  .footer .stay-connected__highlighting {
    font-size: calc(var(--text-lg) - 2px);
    line-height: calc(var(--line-height-sm) - 10px);
  }
}
.footer .stay-connected h1 {
  font-family: var(--font-family-header);
  margin-bottom: var(--margin-md);
  font-size: var(--text-lg);
  font-weight: var(--heavy-text);
}
@media (max-width: 1280px) {
  .footer .stay-connected h1 {
    font-size: calc(var(--text-lg) - 2px);
  }
}
@media (max-width: 1024px) {
  .footer .stay-connected h1 {
    font-size: calc(var(--text-lg) - 5px);
    margin-bottom: calc(var(--margin-md) - 6px);
  }
}
@media (max-width: 768px) {
  .footer .stay-connected h1 {
    font-size: calc(var(--text-lg) - 15px);
    margin-bottom: calc(var(--margin-sm) * 0.5);
  }
}
.footer .stay-connected p {
  font-family: var(--font-family-body);
  margin-bottom: var(--margin-md);
  font-size: var(--text-sm);
}
@media (max-width: 1024px) {
  .footer .stay-connected p {
    font-size: calc(var(--text-sm) - 2px);
  }
}
@media (max-width: 768px) {
  .footer .stay-connected p {
    margin-bottom: var(--margin-sm);
    font-size: calc(var(--text-sm) - 4px);
  }
}
.footer .stay-connected .connection-icons {
  display: flex;
  justify-content: center;
}
.footer .stay-connected .connection-icons .icon {
  padding-inline: calc(var(--padding-sm) * 0.3333333333);
}
@media (max-width: 768px) {
  .footer .stay-connected .connection-icons .icon {
    padding-inline: calc(var(--padding-sm) * 0.2 + 1px);
  }
}
.footer .stay-connected .connection-icons .icon__space {
  border-radius: var(--border-radius-sm);
  padding: calc(var(--padding-most-common) * 0.5);
  box-shadow: var(--shadow-icons);
}
@media (max-width: 768px) {
  .footer .stay-connected .connection-icons .icon__space {
    width: calc(var(--size-sm) / 6 - 7.5px);
  }
}

.rights {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-body);
}
.rights .copy-rights {
  margin-bottom: var(--margin-sm);
  font-size: var(--text-sm);
}
@media (max-width: 1024px) {
  .rights .copy-rights {
    font-size: calc(var(--text-sm) - 2px);
  }
}
@media (max-width: 768px) {
  .rights .copy-rights {
    font-size: calc(var(--text-sm) - 4px);
  }
}/*# sourceMappingURL=body-style.css.map */